<<<<<<< HEAD
<footer id="footer">
    Made for CS290 at Oregon State University by <br>
    Christopher LeMoss, Kelly Norris, & Richard Villagrana
</footer>
=======
<footer>
  <h4>Benny's Budget - CS290 Fall Term 2019 Final - *names here*</h4>
</footer>
>>>>>>> 3cb0a5d535d69a17f4a641998d9409c6881c37fa
