<header>
    
    <div class="header-image-container">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/American_Beaver.jpg" alt="Benny's Budget Logo"> 
    </div>

	<h1 class="header-text"><a href="#">Bennys Budget</a></h1>

</header>