<header>
    
    <div class="header-image-container">
	    <a href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/American_Beaver.jpg" alt="Benny's Budget Logo">
        </a> 
    </div>

	<h1 class="header-text"><a href="/">Benny's Budget</a></h1>

</header>