<header>
    
    <div class="header-image-container">
	    <a href="/">
            <img src="/benny_v2.png" alt="Benny's Budget Logo">
        </a> 
    </div>

	<h1 class="header-text"><a href="/">Benny's Budget</a></h1>

</header>
