{{!-- <div id="modal-backdrop-container"> --}}
    <div id='modal-backdrop' class='hidden animated fadeIn'></div>    

    <div id='prompt-modal' class='hidden'>
        <div class='modal-dialog animated fadeInRight'>
            <div class="prompt">
                <div class='modal-header'>
                    <h3>Income</h3>
                </div>

                <div class='modal-body'>
                
                    <div class="modal-arrow-container">
                        <img src="arrows.png" alt="Previous" class="arrow-button" id="modal-previous-button">
                    </div>
                    
                    <div id="modal-prompts">
                                            
                        <div class='prompt-input-element'>
                            <label for='income-input'>Annual Income</label>
                            <input type='text' id='income-input'></input>
                        </div>

                        <div class='prompt-input-element'>
                            <label for='housing-input'>Housing</label>
                            <input type='text' id='housing-input'></input>
                        </div>   

                    </div>
                    
                    <div class="modal-arrow-container">
                        <img src="arrows.png" alt="Continue" class="arrow-button" id="modal-continue-button">
                    </div>

                </div>



            </div>
        </div>
    </div>
{{!-- </div> --}}