<div id="content-wrapper">	
	<div class="content" id="invalid-page-content">
        <h2 id="invalid-page-header">Oh no! We couldn't quite find what you were looking for...</h1>
            <p id="invalid-page-paragraph">
                Click <a href="/">here</a> to go back to the home page.
            </p>
    </div>
</div>