<script src="budget.js" defer></script>

<div id='content-wrapper'>        
    <div id='prompt-modal' class='hidden'>
        <div class='modal-dialog'>

            <div class='modal-header'>
                <h3>Income</h3>
                {{!-- <button type='button' id='modal-close' class='modal-hide-button'>&times;</button> --}}
            </div>

            <div class='modal-body'>
                <div class='prompt-input-element'>
                    <label for='income-text-input'>Annual Income</label>
                    <input type='text' id='income-text-input'></input>
                </div>  
            </div>

            <div class='modal-footer'>
                <button type='button' id='modal-previous' class='action-button'>Previous</button>
                <button type='button' id='modal-continue' class='action-button'>Continue</button>
            </div>

        </div>
    </div>

    <section class='content' id='content-left'>
        Section 1
    </section>

    <section class='content' id='content-main'>
        Section 2
        <button id='start-button'>Start</button>
        
    </section>

    <section class='content' id='content-right'>
        Section 3
    </section>

</div>