<script src="budget.js" defer></script>

<div id='content-wrapper'>

    {{>modal}}

    <section class='content' id='content-left'>
        Section 1
    </section>

    <section class='content' id='content-main'>
        Section 2
        <button id='start-button'>Start</button>
        
    </section>

    <section class='content' id='content-right'>
        Section 3
    </section>

</div>

{{>footer}}