<script src="budget.js" defer></script>

<div id='content-wrapper'>

    {{>modal}}

    <section class='content' id='content-left'>
        <h2>Monthly Income & Expenses</h2>

        <h3>Income</h3>
        <ul id="list-income">
            <li class='prompt-input-element'>
                <label for='housing-input'>Pretaxed Annual Income:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Other:</label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        <h3>Tax Information</h3>
        <ul id="list-tax-info">
            <li class="prompt-input-element">
                <label for="prompt-filing-status-input">State:</label>
                    <select id="filter-city" class="filter-input" name="filter-city">
                        <option selected value="">Oregon</option>
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                        <option>Delaware</option>
                        <option>Florida</option>
                        <option>Georgia</option>
                        <option>Hawaii</option>
                        <option>Idaho</option>
                        <option>Illinois</option>
                        <option>Indiana</option>
                        <option>Iowa</option>
                        <option>Kansas</option>
                        <option>Kentucky</option>
                        <option>Louisiana</option>
                        <option>Maine</option>
                        <option>Maryland</option>
                        <option>Massachusetts</option>
                        <option>Michigan</option>
                        <option>Minnesota</option>
                        <option>Mississippi</option>
                        <option>Missouri</option>
                        <option>Montana</option>
                        <option>Nebraska</option>
                        <option>Nevada</option>
                        <option>New Hampshire</option>
                        <option>New Jersey</option>
                        <option>New Mexico</option>
                        <option>New York</option>
                        <option>North Carolina</option>
                        <option>North Dakota</option>
                        <option>Ohio</option>
                        <option>Oklahoma</option>
                        <option>Pennsylvania</option>
                        <option>Rhode sland</option>
                        <option>South Carolina</option>
                        <option>South Dakota</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Utah</option>
                        <option>Vermont</option>
                        <option>Virginia</option>
                        <option>Washington</option>
                        <option>West Virginia</option>
                        <option>Wisconsin</option>
                        <option>Wyoming</option>
                    </select>
            </li>

            <li class="prompt-input-element">
                <label for="prompt-filing-status-input">Filing Status:</label>
                    <select id="filter-city" class="filter-input" name="filter-city">
                        <option selected value="">Single</option>
                        <option>Married Filing Jointly</option>
                        <option>Married Filing Separately</option>
                    </select>
            </li>
        </ul>

        <h3>Living Expenses</h3>
        <ul id="list-living-expensses">
            <li class='prompt-input-element'>
                <label for='housing-input'>Rent/Mortgage:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Food:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Medicine:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Health Insurance:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Utilities:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Internet:</label>
                <input type='text' id='housing-input'></input>
            </li>
            
            <li class='prompt-input-element'>
                <label for='housing-input'>Phone:</label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        <h3>Lifestyle</h3>
        <ul>
            <li class='prompt-input-element'>
                <label for='housing-input'>Credit Card Payments:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>House Supplies:</label>
                <input type='text' id='housing-input'></input>
            </li>
            
            <li class='prompt-input-element'>
                <label for='housing-input'>Clothing:</label>
                <input type='text' id='housing-input'></input>
            </li>
            
            <li class='prompt-input-element'>
                <label for='housing-input'>Laundry:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Recreation: <span class="label-subtext">(e.g. books, videogames, etc.)</span></label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Subscriptions: <span class="label-subtext">(e.g. gym membership, video streaming, etc.)</span></label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        <h3>Transportation</h3>
        <ul>
            <li class='prompt-input-element'>
                <label for='housing-input'>Car Payment:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Car Insurance:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Car Repairs: <span class="label-subtext">(estimate $.50 per mile driven if you don't know)</span></label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Gas: <span class="label-subtext">(estimate $0.15 per mile driven if you don't know)</span></label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Public Transportation:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Vacation:</label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        <h3>Student</h3>
        <ul>
            <li class='prompt-input-element'>
                <label for='housing-input'>Tuition:</label>
                <input type='text' id='housing-input'></input>
            </li>
            
            <li class='prompt-input-element'>
                <label for='housing-input'>Fees:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Text Books: <span class="label-subtext">(estimate $500 per class if you don't know)</span></label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        <h3>Other Expenses</h3>
        <ul>
            <li class='prompt-input-element'>
                <label for='housing-input'>Student Loan Monthly Payment:</label>
                <input type='text' id='housing-input'></input>
            </li>
            
            <li class='prompt-input-element'>
                <label for='housing-input'>Child Care:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Emergency Fund:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Savings:</label>
                <input type='text' id='housing-input'></input>
            </li>

            <li class='prompt-input-element'>
                <label for='housing-input'>Other:</label>
                <input type='text' id='housing-input'></input>
            </li>
        </ul>

        
    </section>

    <section class='content' id='content-main'>
        <h2>
            Results
        </h2>

        <button id='start-button'>Start</button>

    </section>

    <section class='content' id='content-right'>
        Section 3
    </section>

</div>

{{>footer}}