<div id="content-wrapper">	
	<div class="table">
		<div class="container">
            <h2>About</h1>
            <p id="about-paragraph">
                This is a website to help you with your budget. 
                You'll be asked to enter the amount of money you make and how much you spend on various things.
                Click the button below to get started.
            </p>
            <button id="budget-button" onclick="window.location='budget';">Budget!</button>
	    </div>
	</div>
</div>