<div id="content-wrapper">	
	<div class="content" id="about-content">
        <h2 id="about-header">About</h1>
            <p id="about-paragraph">
                Have you ever wondered where all your money goes?
                Many people simply don't realize how much they're spending.
                After all, many one-time small purchases adds up eventually. 
                This is what this website hopes to solve by helping you visualize what you spend your money on and help you budget. 
                <br><br>
                On the following page, you will be asked to enter how much money you make and how much you spend on various things.
                Press the continue button (the green arrow) untill you get to the end.
                Click the button below to get started!
            </p>
            
            <button id="budget-button" onclick="window.location='budget';">Budget!</button>
    </div>
</div>