<<<<<<< HEAD
<div id="content-wrapper" class="animated fadeIn">
	<div class="content" id="about-content">
        <h2 id="about-header">About</h1>
            <p id="about-paragraph">
                Have you ever wondered where all your money goes?
                Many people simply don't realize how much they're spending.
                After all, many one-time small purchases adds up eventually.
                That's where this site comes in! This site's purpose is to help you visualize what you spend your money on.
                <br><br>
                On the following page, you will be asked to enter how much money you make and how much you spend on various things.
                Press the continue button (the green arrow) untill you get to the end.
                Click the button below to get started!
            </p>

            <button id="budget-button" onclick="window.location='/budget/1';">Budget!</button>
    </div>
</div>

{{>footer}}
=======
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Benny's Budget</title>
   <link rel="stylesheet" href="styles.css">
  </head>

  <body>
  	{{header}}

    <main>
      <div><h3>Welcome to Benny's Budget! Create a monthly budget with our simple web app, or rate your lifestyle's expenses.</h3></div>
      <div class="flex_row">
        <div class="index_row">
          <h2>Budget Creator</h2>
          <p>Our web app will ask you questions about your income and expenses, and create a budget to help you save money!</p>
          <a href="budget"><button>Get Started!</button></a>
        </div>
        <div class="index_row">
          <h2>Lifestyle Rating</h2>
          <p>How does your lifestyle affect your expenses? This app shows you how expensive your choices might be.</p>
          <a href="lifestyle"><button>Get Started!</button></a>
        </div>
      </div>
    </main>

  	{{footer}}
  </body>
</html>
>>>>>>> 3cb0a5d535d69a17f4a641998d9409c6881c37fa
