header{
	background-color:#243b25;
	padding: 5px;
	width: 100%;
	align-items: center;
	display: flex;
	position: relative;
	/*justify-content:center;This one for a css for the finance page */
}

html, body{
	padding: 0;
	margin:0;
	background-color:#f5f2d0;
}

a{
	text-decoration: none;
}

.Tester {
	display:solid;
	float:left;
	text-decoration: none;
	color: black;
}

.header-image-container img{
	width: 160px;
	height: 160px;
}
.budget-img{
	height: 160px;
	width: 160px;
	justify-content:center;
	
}


.header-text a{
	font-family: Fantasy;
	font-size:90px;
	font-weight: 100;
	justify-content:center;
	margin: 0 0 0 32rem;
 	color: #f2fffd;
	padding-top: 30px;
}
.container{
	background-color:#edede8;
	width:45rem;
	height:50rem;
	padding:5px;
	margin-top:9px;
	outline: solid 6px #ededfc;
}
.table{
	display:flex;
	padding:15px;
	justify-content:center;

}
#page-container{
	position:relative;
	min-height:100vh;
}

#content-wrap{
	padding-bottom: 2.5rem;
}

#footer{
	background-color:#243b25;
	width:100%;
	bottom:0;
	position:absolute;
	
}
/*Modal*/
#modal-backdrop{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 1000;
	background-color:rgba(0,0,0,0.85);
}



