* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	background-color:#f5f2d0;
}

a {
	text-decoration: none;
}


/* Header */

header, footer {
	background-color:#243b25;
}

header { 
	display: flex;
	align-items: center;
	position: relative;
}

header img {
	width: 160px;
	padding: 10px;
	border-radius: 100%;
}

.header-text a {
	font-size: 4rem;
	font-weight: 100;
	margin: 0 0 0 2.5vw;
 	color: #f2fffd;
}


/* Body */

#content-wrapper {
	display: flex;
	justify-content: space-around;
}

.content {
	position: relative;
	display: flex;
	flex-flow: column;
	background-color: #edede8;
	width: 100%;
	height: 55vh;
	margin: 5vh 0;
	padding: 20px;
	border: solid 6px #ededfc;
	z-index: 1;
}

#about-content {
	margin: 5vh 5vw;
}

#content-left, #content-right {
	width: 33vw;
}

h2 {
	font-weight: normal;
}

p {
	margin: 15px;
	line-height: 1.75;
}

#budget-button {
	background-color: green;
	border-radius: 3%;
	border: none;
	color: white;
	font-size: 1.25rem;
	height: 5vh;
	width: 50%;
	margin: 1vh 0;
	align-self: center;
}

button:hover {
	cursor: pointer;
}


/* Footer */

#footer {
	color: rgba(255, 255, 255, 0.75);
	font-size: .9rem;
	padding: 3vh 0;
	text-align: center;
}



/* MODAL */

.hidden {
	display: none;
}

#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
}

#prompt-modal {
	position: absolute;
	align-self: center;
	z-index: 1010;
}

.modal-dialog {
	/* width: 50vw;
	height: 50vh; */
	background-color: #fff;
	border-radius: 15px;
	z-index: 1010;
}


.modal-header {
	padding: 15px 25px;
}

/* .modal-header h3 {
margin: 0;
font-size: 28px;
} */

/* Arrows */

.arrow-button {
	width: 50px;
	cursor: pointer;
}

#modal-continue-button {
	transform: rotate(180deg);
	margin: 0 0 0 3vw;
	filter: invert(64%) sepia(85%) saturate(536%) hue-rotate(57deg) brightness(97%) contrast(113%);
}

#modal-previous-button {
	margin: 0 3vw 0 0;
	color: red;
	filter: invert(17%) sepia(69%) saturate(6685%) hue-rotate(3deg) brightness(97%) contrast(127%);
}

/* Body & Prompts */

.modal-body {
	align-items: center;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#modal-prompts {
	display: flex;
	flex-flow: column;
}

.prompt-input-element {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 10px 0;
}

.prompt-input-element > label {
	flex: 1 75px;
	margin-right: 10px;
}

.prompt-input-element input {
flex: 6 200px;
padding: 8px;
font-size: 20px;
border: 1px solid #aaa;
}

#modal-cancel {
color: #333;
background-color: #fff;
}

#modal-cancel:hover {
background-color: #eee;
}