* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	background-color:#f5f2d0;
}

a {
	text-decoration: none;
	color: #33ce3b;
}

/* Header */

header, footer {
	background-color:#243b25;
}

header {
	display: flex;
	align-items: center;
	position: relative;
}

header img {
	width: 160px;
	padding: 10px;
	border-radius: 100%;
}

.header-text a {
	font-size: 4rem;
	font-weight: 100;
	margin: 0 0 0 2.5vw;
 	color: #f2fffd;
}

/* Body */

#content-wrapper, #results-content-wrapper {
	display: flex;
	justify-content: space-around;
}

.content {
	position: relative;
	display: flex;
	flex-flow: column;
	background-color: #edede8;
	width: 100%;
	margin: 5vh 0;
	padding: 20px;
	border: solid 6px #ededfc;
	z-index: 1;
}

#about-content {
	margin: 5vh 20vw;
}

h2, h3 {
	font-weight: normal;
}

p {
	margin: 15px;
	line-height: 1.75;
}

#budget-button {
	background-color: green;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 1.25rem;
	height: 60px;
	width: 300px;
	margin: 20px;
	align-self: center;
}

button:hover {
	cursor: pointer;
}

/* Footer */

#footer {
	color: rgba(255, 255, 255, 0.75);
	font-size: .9rem;
	padding: 3vh 0;
	text-align: center;
}



/* MODAL */

#modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
}

#prompt-modal {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: auto;
	z-index: 1010;
}

.modal-dialog {
	display: flex;
	width: 40em;
	justify-content: center;
	background-color: #fff;
	border-radius: 15px;
	z-index: 1010;
}

.modal-header {
	padding: 15px 25px;
	background-color: #243b25;
	color: white;
}

.modal-desc {
	background-color: white;
	padding: 15px;
	border-bottom: 1px solid #edede8;
}
.modal-desc p {
	margin: 0;
}

/* Modal - Arrows */

.arrow-button {
	width: 50px;
	cursor: pointer;
}

#modal-continue-button {
	transform: rotate(180deg);
	margin: 0 0 0 3vw;
	filter: invert(64%) sepia(85%) saturate(536%) hue-rotate(57deg) brightness(97%) contrast(113%);
}

#modal-previous-button {
	margin: 0 3vw 0 0;
	color: red;
	filter: invert(17%) sepia(69%) saturate(6685%) hue-rotate(3deg) brightness(97%) contrast(127%);
}

/* Modal - Body & Prompts */

.modal-body {
	align-items: center;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color:#f5f2d0;
}

#modal-prompts {
	display: flex;
	flex-flow: column;
}

.prompt-input-element {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 10px 0;
}

.prompt-input-element > label {
	flex: 1 75px;
	margin-right: 10px;
}

.prompt-input-element input {
flex: 6 200px;
padding: 8px;
font-size: 20px;
border: 1px solid #aaa;
}



/* 404 PAGE */
#invalid-page-content {
	margin: 5vh 10vw;
}


/* REULTS PAGE */
#result-description-and-chart-container {
	display: flex;
	justify-content: space-evenly;
	margin: 30px;
}

#result-description-and-chart-container p {
	max-width: 50vw;
	margin: 0 30px;
	font-size: 1.25rem;
}

#results-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.prompt-result-section {
	margin: 10px;
	flex: 0 0 33%;
	max-width: 500px;
}

.results-header {
	text-align: center;
}

#results-page h3 {
	font-size: 1.3rem;
	color: #29ac30;
	margin: 30px 0 0 0;
}

#results-page label {
	font-size: 1rem;	
}

.label-subtext {
	font-size: .8rem;
}


/* PIE CHART from canvasJS */
#chartContainer {
	min-height: 500px;
	min-width: 300px; 
	width: 100%;
	height: 100%;
}